<?xml version="1.0" ?>
<launch>
    <arg name="x_pos" default="0"/>

    <!-- The spawn_urdf node in gazebo_ros package defaults to '/gazebo' namespace, which is absolute. We override the param with a relative value to automatically propagate robotont namespaces. -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-gazebo_namespace gazebo -param robot_description -urdf -x -$(arg x_pos) -model robotont"  output="screen"/>  
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
</launch> 

