<?xml version="1.0" ?>
<launch>
    <arg name="world" default="worlds/bangbang.world"/>
    <arg name="x_pos" default="0"/>
    <arg name="model" default="robotont_gazebo_nuc"/>
    <arg name="__ns" default=""/>
    <include file="$(find robotont_gazebo)/launch/gazebo.launch">
        <arg name="world" value="$(arg world)"/>
        <arg name="x_pos" value="$(arg x_pos)"/>
        <arg name="model" default="$(arg model)"/>
        <arg name="__ns" default="$(arg __ns)"/>
    </include>
</launch>
