<?xml version="1.0" ?>
<launch>
    <arg name="world" default="$(find robotont_gazebo)/worlds/minimaze_ar.world" />
    <arg name="x_pos" default="2"/>
    <arg name="model" default="robotont_gazebo_nuc"/>
    <arg name="__ns" default=""/>
    <env name="GAZEBO_MODEL_PATH" value="$(find robotont_gazebo)/models:$GAZEBO_MODEL_PATH" />
    <include file="$(find robotont_gazebo)/launch/gazebo.launch">
        <arg name="world" value="$(arg world)"/>
        <arg name="x_pos" value="$(arg x_pos)"/>
        <arg name="model" default="$(arg model)"/>
        <arg name="__ns" default="$(arg __ns)"/>
    </include>
</launch>
