node_modules/
.env


# Generated compose templates
compose/macvlan/noetic/*
compose/macvlan/jazzy/*

compose/local/noetic/*
compose/local/jazzy/*

# Generated docker-compose files
compose/local/temp/
compose/macvlan/temp/

