<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robotont">
    <xacro:include filename="$(find realsense2_description)/urdf/_d435i.urdf.xacro" />
    <xacro:include filename="$(find robotont_description)/urdf/robotont_base.urdf.xacro"/>
    <xacro:arg name= "add_plug" default="false"/>
    <xacro:arg name= "simulated" default="false"/>
    <!-- Camera assembly -->
    <link name="${prefix}camera_assembly_link1">
        <visual>
            <geometry>
                <mesh scale="0.001 0.001 0.001" filename="package://robotont_nuc_description/meshes/camera_assembly_part1.stl"/>
            </geometry>
            <material name="frame_material">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
    </link>
    <joint name="${prefix}camera_assembly_joint1" type="fixed">
        <parent link="${prefix}base_footprint"/>
        <child link="${prefix}camera_assembly_link1"/>
        <origin xyz="0 0 0.0125" rpy="0 0 ${pi/2}"/>
    </joint>
    <link name="${prefix}camera_assembly_link2">
        <visual>
            <geometry>
                <mesh scale="0.001 0.001 0.001" filename="package://robotont_nuc_description/meshes/camera_assembly_part2.stl"/>
            </geometry>
            <material name="base_material">
                <color rgba="1 1 1 0.8"/>
            </material>
        </visual>
    </link>
    <joint name="${prefix}camera_assembly_joint2" type="fixed">
        <parent link="${prefix}base_footprint"/>
        <child link="${prefix}camera_assembly_link2"/>
        <origin xyz="0 0 0.0125" rpy="0 0 ${pi/2}"/>
    </joint>
    <!-- Realsense -->
    <xacro:if value="$(arg simulated)">
        <xacro:sensor_d435i name="${prefix}camera" parent="${prefix}base_link" use_nominal_extrinsics="true">
            <origin xyz="-0.115 0 0.2025" rpy="0 0 0"/>
        </xacro:sensor_d435i>
    </xacro:if>
    <xacro:unless value="$(arg simulated)">
        <xacro:sensor_d435i name="${prefix}camera" parent="${prefix}base_link" use_nominal_extrinsics="false">
            <origin xyz="-0.115 0 0.2025" rpy="0 0 0"/>
        </xacro:sensor_d435i>
    </xacro:unless>
    <!-- Computer -->
    <link name="${prefix}computer_link">
        <visual>
            <geometry>
                <box size="0.11 0.11 0.04"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <material name="computer_material">
                <color rgba="0.1 0.1 0.1 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size="0.11 0.11 0.04"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </collision>
    </link>

    <joint name="${prefix}computer_joint" type="fixed">
        <parent link="${prefix}base_link"/>
        <child link="${prefix}computer_link"/>
        <origin xyz="-0.01 0 0.085" rpy="0 0 0"/>
    </joint>
</robot>
