[Unit]
Description=gunicorn daemon
After=network.target

# Replace '<user>' accordingly

[Service]
User=<user>
WorkingDirectory=/home/<user>/dev/remrob-webapp
Environment="FLASK_ENV=production"
ExecStart=/home/<user>/.local/bin/gunicorn --bind 0.0.0.0:5000 app:app --workers 4
Restart=always

[Install]
WantedBy=multi-user.target
