[Unit]
Description=Websockify bridge
After=network.target

[Service]
User=<user>
WorkingDirectory=<project_location>/remrob-server/server
ExecStart=websockify --web ./noVNC --token-plugin=TokenFile --token-source=<project_location>/remrob-server/server/websockify-token.cfg 6085
Restart=always

[Install]
WantedBy=multi-user.target
