[Unit]
Description=noVNC remote desktop server
After=tigervnc@:0.service
 
[Service]
Type=simple
User=root
ExecStart=/home/novnc/utils/novnc_proxy --vnc localhost:5900 --listen 6080

[Install]
WantedBy=multi-user.target