<?xml version="1.0" ?>
<launch>
  <!--
    '__ns' is needed as an explicit argument because it does not propagate as an argument to the included launch files.
    as eval may not contain double underscore expressions, a new argument (eval_underscore_bypass) is defined to by-pass this issue.
    when a namespace is specified, it is also converted into prefix with a trailing slash.
  -->
  <arg name="__ns" default=""/>
  <arg name="eval_underscore_bypass" value="$(arg __ns)"/>
  <arg if="$(eval eval_underscore_bypass == '')" name="prefix" default=''/>
  <arg unless="$(eval eval_underscore_bypass == '')" name="prefix" default="$(arg __ns)/"/>
  <arg name="linear_update" default="0.01"/>
  <arg name="angular_update" default="0.01"/>
  <arg name="cell_size" default="0.01"/>  

  <node ns="rtabmap" name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
    <param name="frame_id" type="string" value="$(arg prefix)base_footprint"/>
    <param name="odom_frame_id" type="string" value="$(arg prefix)odom"/>
    <param name="subscribe_depth" type="bool" value="true"/>
    <param name="queue_size" type="int" value="20"/>
      <!-- RTAB-Map's parameters -->
    <param name="RGBD/AngularUpdate" type="string" value="$(arg angular_update)"/>
    <param name="RGBD/LinearUpdate" type="string" value="$(arg linear_update)"/>
    <param name="RGBD/OptimizeFromGraphEnd" type="string" value="false"/>
    <param name="Grid/FromDepth" type="string" value="true"/>
    <param name="Grid/CellSize" type="double" value="$(arg cell_size)"/>

    <remap from="rgb/image" to="/$(arg prefix)camera/color/image_raw"/>
    <remap from="depth/image" to="/$(arg prefix)camera/aligned_depth_to_color/image_raw"/>
    <remap from="rgb/camera_info" to="/$(arg prefix)camera/color/camera_info"/>
  </node>
</launch>
