<?xml version="1.0" ?>
<launch>
  <!--
    '__ns' is needed as an explicit argument because it does not propagate as an argument to the included launch files.
    as eval may not contain double underscore expressions, a new argument (eval_underscore_bypass) is defined to by-pass this issue.
    when a namespace is specified, it is also converted into prefix with a trailing slash.
  -->
  <arg name="marker_id" default="1" />
  <arg name="__ns" default=""/>
  <arg name="eval_underscore_bypass" value="$(arg __ns)"/>
  <arg if="$(eval eval_underscore_bypass == '')" name="prefix" default=''/>
  <arg unless="$(eval eval_underscore_bypass == '')" name="prefix" default="$(arg __ns)/"/>

  <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
    <param name="marker_size"           type="double" value="6.8" />
    <param name="max_new_marker_error"  type="double" value="0.08" />
    <param name="max_track_error"       type="double" value="0.2" />
    <param name="output_frame"          type="string" value="$(arg prefix)camera_link" />
    <remap from="camera_image"  to="camera/color/image_raw" />
    <remap from="camera_info"   to="camera/color/camera_info" />
  </node>
  <node name="robotont_look_at_ar" pkg="robotont_demos" type="ar_follow_the_leader_controller.py" output="screen">
    <param name="marker_id" type="int" value="$(arg marker_id)" />
  </node>
</launch>
