services:
  vnc:
    image: {{ image }}
    container_name: {{ name }}
    hostname: {{ name }}
    environment:
      - PASSWORD=remrob
    tmpfs:
      - /run
      - /run/lock
      - /tmp
    volumes: 
      - /sys/fs/cgroup:/sys/fs/cgroup
    cap_add:
      - SYS_ADMIN
      - SYS_BOOT
    security_opt:
      - 'apparmor=unconfined'
    ports:
      - {{ port }}:5902
    networks:
      ros_net:
        ipv4_address: {{ self_ip }}
networks:
  ros_net:
    external: true
    name: {{ network_name }} # - macvlan network
    
    