[Unit]
Description=noVNC remote desktop server
After=tigervnc@:1.service
 
[Service]
Type=simple
User=kasutaja
ExecStart=/usr/share/novnc/utils/novnc_proxy --vnc localhost:5901 --listen 6080
 
[Install]
WantedBy=multi-user.target
