version: '3.8'

services:
  vnc:
    image: remrob:base
    container_name: {{ name }}
    hostname:  {{ name }}
    environment:
      - ROS_MASTER=localhost
      - PASSWORD=remrob # placeholder
      - VGL_DISPLAY=:0
    tmpfs:
      - /run
      - /run/lock
      - /tmp
    cap_add:
      - SYS_ADMIN
    volumes: 
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
      - /tmp/.X11-unix/X0:/tmp/.X11-unix/X0:ro
    ports:
      - {{ port }}:5902
#    deploy:
#      resources:
#        limits:
#          cpus: 3.0
#          memory: 4096M
#        reservations:
#          devices:
#            - driver: nvidia
#              capabilities: [gpu, utility, graphics]
networks:
  default:
    name: remrob-server_default
    external: true