version: '3.8'

services:
  vnc:
    image: robotont:performance-tests-gazebo
    container_name: {{ name }}
    hostname: robosim
    environment:
      - ROS_MASTER=localhost
      - PASSWORD=remrob # placeholder
      - VGL_DISPLAY=:1
    tmpfs:
      - /run
      - /run/lock
      - /tmp
    cap_add:
      - SYS_ADMIN
    volumes: 
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
      - /tmp/.X11-unix/X1:/tmp/.X11-unix/X1:ro
      - ./FPS_out.txt:/home/kasutaja/.ros/FPS_out.txt
      - ./GAZEBO_FPS_out.txt:/home/kasutaja/.ros/GAZEBO_FPS_out.txt
      # - metrics_vol:/home/kasutaja/.ros
      # - ./metrics:/home/kasutaja/.ros
      #- ./metrics:/home/kasutaja/.ros/FPS_out.txt
      #- ./metrics:/home/kasutaja/.ros/GAZEBO_FPS_out.txt
    ports:
      - {{ port }}:5902
    deploy:
      resources:
        limits:
          cpus: 3.0
          memory: 4096M
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu, utility, graphics]
    networks:
      - simtainers
networks:
  simtainers:
    external: true
    name: sim_net
volumes:
  metrics_vol:
