version: '3.8'

services:
  vnc:
    image: robotont:base
    container_name: {{ name }}
    hostname: {{ name }}
    extra_hosts:
      - "{{ robotont }}:{{ master_ip }}"
    environment:
      - ROS_MASTER={{ robotont }} # Will be used to set master in ~/.bashrc
      - PASSWORD=remrob # placeholder
      - VGL_DISPLAY=:1
    tmpfs:
      - /run
      - /run/lock
      - /tmp
    cap_add:
      - SYS_ADMIN
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
      - /tmp/.X11-unix/X1:/tmp/.X11-unix/X1:ro
    deploy:
      resources:
        limits:
          memory: 4096M
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu, utility, graphics]
    networks:
      ros_net:
        ipv4_address: {{ self_ip }}
networks:
  ros_net:
    external: true
    name: remrob # - macvlan network
