<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find robotont_gazebo)/urdf/gazebo_roller.urdf.xacro"/>
    <xacro:macro name="gazebo_rim_macro" params="name prefix">        
        <xacro:gazebo_roller_macro
			parent="${name}"
			z_distance_reflect="-1"
			no_of_roller="0"
			prefix="${prefix}"
		/>
        <xacro:gazebo_roller_macro
			parent="${name}"
			z_distance_reflect="-1"
			no_of_roller="1"
			prefix="${prefix}"
		/>
        <xacro:gazebo_roller_macro
			parent="${name}"
			z_distance_reflect="-1"
			no_of_roller="2"
			prefix="${prefix}"
		/>
        <xacro:gazebo_roller_macro
			parent="${name}"
			z_distance_reflect="-1"
			no_of_roller="3"
			prefix="${prefix}"
		/>
        <xacro:gazebo_roller_macro
			parent="${name}"
			z_distance_reflect="-1"
			no_of_roller="4"
			prefix="${prefix}"
		/>
        <xacro:gazebo_roller_macro
			parent="${name}"
			z_distance_reflect="-1"
			no_of_roller="5"
			prefix="${prefix}"
		/>
        <xacro:gazebo_roller_macro
			parent="${name}"
			z_distance_reflect="-1"
			no_of_roller="6"
			prefix="${prefix}"
		/>
        <!-- Back rollers -->
        <xacro:gazebo_roller_macro
			parent="${name}"
			z_distance_reflect="1"
			no_of_roller="0"
			prefix="${prefix}"
		/>
        <xacro:gazebo_roller_macro
			parent="${name}"
			z_distance_reflect="1"
			no_of_roller="1"
			prefix="${prefix}"
		/>
        <xacro:gazebo_roller_macro
			parent="${name}"
			z_distance_reflect="1"
			no_of_roller="2"
			prefix="${prefix}"
		/>
        <xacro:gazebo_roller_macro
			parent="${name}"
			z_distance_reflect="1"
			no_of_roller="3"
			prefix="${prefix}"
		/>
        <xacro:gazebo_roller_macro
			parent="${name}"
			z_distance_reflect="1"
			no_of_roller="4"
			prefix="${prefix}"
		/>
        <xacro:gazebo_roller_macro
			parent="${name}"
			z_distance_reflect="1"
			no_of_roller="5"
			prefix="${prefix}"
		/>
        <xacro:gazebo_roller_macro
			parent="${name}"
			z_distance_reflect="1"
			no_of_roller="6"
			prefix="${prefix}"
		/>
        <gazebo reference="${prefix}rim_${name}_link">
            <material>Gazebo/DarkGrey</material>
            <!-- <kp>1000000</kp><kd>100</kd> -->
        </gazebo>
    </xacro:macro>
</robot>
