services:
  vnc:
    image: {{ image }}
    container_name: {{ name }}
    hostname: {{ name }}
    environment:
      - ROS_MASTER=localhost
      - PASSWORD=remrob # placeholder
    tmpfs:
      - /run
      - /run/lock
      - /tmp
    cap_add:
      - SYS_ADMIN
    volumes: 
      - /sys/fs/cgroup:/sys/fs/cgroup
    ports:
      - {{ port }}:5902
    deploy:
      resources:
        limits:
          cpus: "3.0"
          memory: 4096M
    networks:
      - simtainers
networks:
  simtainers:
    external: true
    name: {{ network_name }}
