services:
  vnc:
    image: {{ image }}
    container_name: {{ name }}
    hostname: {{ name }}
    extra_hosts:
      - "{{ robot_hostname }}:{{ master_ip }}"
    environment:
      - ROS_MASTER={{ robot_hostname }} # Will be used to set master in ~/.bashrc
      - PASSWORD=remrob # placeholder
      - VGL_DISPLAY=:1
    tmpfs:
      - /run
      - /run/lock
      - /tmp
    cap_add:
      - SYS_ADMIN
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup
      - /tmp/.X11-unix/{{ display_socket }}:/tmp/.X11-unix/X1:ro
    deploy:
      resources:
        limits:
          memory: 4096M
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    networks:
      ros_net:
        ipv4_address: {{ self_ip }}
networks:
  ros_net:
    external: true
    name: {{ network_name }} # - macvlan network
